@font-face {
    font-family: 'chalk';
    src: url("res/FrederickatheGreat-Regular.ttf");
}
*{
    background-size: 100%;
    box-sizing: border-box;
    color:rgba(255, 255, 255, 1 );
    
}
body{
    background-image:url("res/blackboard.jpg");
    background-size: fill;
    display: flex;
    flex-direction: column;
    align-items: center;

}
h1{
    text-align: center;
    text-decoration: underline;
    font-family:'chalk','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cell{
    
    border:2px solid;
    border-color: rgb(255, 255, 255);
    width:70px;
    height:50px;
    font-size:50px;
    text-align: center;
    font-family: 'chalk',fantasy;
}

#board{
    display:grid;
    grid-template-columns: repeat(3,auto);
    margin:auto;
    width: 210px;   
}
#cell0{
    border-top: none;
    border-left: none;
}
#cell1{
    border-top:none;
}
#cell2{
    border-top:none;
    border-right:none;
}
#cell3{
    border-left:none;
}
#cell5{
    border-right:none;
}
#cell6{
    border-bottom: none;
    border-left: none;
}
#cell7{
    border-bottom: none;
}
#cell8{
    border-bottom: none;
    border-right: none;
}

#reset{
    display: block;
    box-sizing: border-box;
    width: 7vw;
    height: 3vw;
    color: black;
    background-color: aliceblue;
    width:50px;
    height: 30px;
    
}
#turn{
    margin: 20px 0%;
    display: block;
    text-align: center;
} 
#board>*{
    justify-content: center;
    font-size:6vw;
    color:rgb(255, 255, 255);
}  


@keyframes animation-winning {
    from{ 
        color: rgb(14, 232, 57);
        font-size: 6vw;
    }
    to{
        color:rgba(53, 105, 70, 0.5);
    }
}
@keyframes animation-default {
    from{ 
        color: rgb(31, 195, 67);
        font-size: 6vw;
    }
    to{
        color:rgb(56, 143, 65);
    }
}
#turn{
    text-align: center;
    font-size: 3vw;
}
#scoreboard{
    padding:1vw 0vw;
}

